@media (min-width: 992px) {
  .ct-lg-square {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-square:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 100%;
    width: 0;
  }
  .ct-lg-square:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-square > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-minor-second {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-minor-second:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 93.75%;
    width: 0;
  }
  .ct-lg-minor-second:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-minor-second > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-major-second {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-major-second:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 88.8888888889%;
    width: 0;
  }
  .ct-lg-major-second:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-major-second > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-minor-third {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-minor-third:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 83.3333333333%;
    width: 0;
  }
  .ct-lg-minor-third:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-minor-third > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-major-third {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-major-third:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 80%;
    width: 0;
  }
  .ct-lg-major-third:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-major-third > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-perfect-fourth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-perfect-fourth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 75%;
    width: 0;
  }
  .ct-lg-perfect-fourth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-perfect-fourth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-perfect-fifth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-perfect-fifth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 66.6666666667%;
    width: 0;
  }
  .ct-lg-perfect-fifth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-perfect-fifth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-minor-sixth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-minor-sixth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 62.5%;
    width: 0;
  }
  .ct-lg-minor-sixth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-minor-sixth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-golden-section {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-golden-section:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 61.804697157%;
    width: 0;
  }
  .ct-lg-golden-section:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-golden-section > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-major-sixth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-major-sixth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 60%;
    width: 0;
  }
  .ct-lg-major-sixth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-major-sixth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-minor-seventh {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-minor-seventh:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 56.25%;
    width: 0;
  }
  .ct-lg-minor-seventh:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-minor-seventh > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-major-seventh {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-major-seventh:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 53.3333333333%;
    width: 0;
  }
  .ct-lg-major-seventh:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-major-seventh > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-octave {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-octave:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 50%;
    width: 0;
  }
  .ct-lg-octave:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-octave > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-major-tenth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-major-tenth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 40%;
    width: 0;
  }
  .ct-lg-major-tenth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-major-tenth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-major-eleventh {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-major-eleventh:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 37.5%;
    width: 0;
  }
  .ct-lg-major-eleventh:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-major-eleventh > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-major-twelfth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-major-twelfth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 33.3333333333%;
    width: 0;
  }
  .ct-lg-major-twelfth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-major-twelfth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 992px) {
  .ct-lg-double-octave {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-lg-double-octave:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 25%;
    width: 0;
  }
  .ct-lg-double-octave:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-lg-double-octave > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-square {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-square:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 100%;
    width: 0;
  }
  .ct-md-square:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-square > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-minor-second {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-minor-second:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 93.75%;
    width: 0;
  }
  .ct-md-minor-second:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-minor-second > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-major-second {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-major-second:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 88.8888888889%;
    width: 0;
  }
  .ct-md-major-second:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-major-second > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-minor-third {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-minor-third:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 83.3333333333%;
    width: 0;
  }
  .ct-md-minor-third:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-minor-third > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-major-third {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-major-third:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 80%;
    width: 0;
  }
  .ct-md-major-third:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-major-third > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-perfect-fourth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-perfect-fourth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 75%;
    width: 0;
  }
  .ct-md-perfect-fourth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-perfect-fourth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-perfect-fifth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-perfect-fifth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 66.6666666667%;
    width: 0;
  }
  .ct-md-perfect-fifth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-perfect-fifth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-minor-sixth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-minor-sixth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 62.5%;
    width: 0;
  }
  .ct-md-minor-sixth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-minor-sixth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-golden-section {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-golden-section:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 61.804697157%;
    width: 0;
  }
  .ct-md-golden-section:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-golden-section > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-major-sixth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-major-sixth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 60%;
    width: 0;
  }
  .ct-md-major-sixth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-major-sixth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-minor-seventh {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-minor-seventh:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 56.25%;
    width: 0;
  }
  .ct-md-minor-seventh:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-minor-seventh > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-major-seventh {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-major-seventh:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 53.3333333333%;
    width: 0;
  }
  .ct-md-major-seventh:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-major-seventh > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-octave {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-octave:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 50%;
    width: 0;
  }
  .ct-md-octave:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-octave > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-major-tenth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-major-tenth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 40%;
    width: 0;
  }
  .ct-md-major-tenth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-major-tenth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-major-eleventh {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-major-eleventh:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 37.5%;
    width: 0;
  }
  .ct-md-major-eleventh:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-major-eleventh > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-major-twelfth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-major-twelfth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 33.3333333333%;
    width: 0;
  }
  .ct-md-major-twelfth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-major-twelfth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (min-width: 540px) and (max-width: 992px) {
  .ct-md-double-octave {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-md-double-octave:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 25%;
    width: 0;
  }
  .ct-md-double-octave:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-md-double-octave > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-square {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-square:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 100%;
    width: 0;
  }
  .ct-sm-square:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-square > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-minor-second {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-minor-second:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 93.75%;
    width: 0;
  }
  .ct-sm-minor-second:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-minor-second > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-major-second {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-major-second:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 88.8888888889%;
    width: 0;
  }
  .ct-sm-major-second:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-major-second > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-minor-third {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-minor-third:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 83.3333333333%;
    width: 0;
  }
  .ct-sm-minor-third:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-minor-third > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-major-third {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-major-third:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 80%;
    width: 0;
  }
  .ct-sm-major-third:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-major-third > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-perfect-fourth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-perfect-fourth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 75%;
    width: 0;
  }
  .ct-sm-perfect-fourth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-perfect-fourth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-perfect-fifth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-perfect-fifth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 66.6666666667%;
    width: 0;
  }
  .ct-sm-perfect-fifth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-perfect-fifth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-minor-sixth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-minor-sixth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 62.5%;
    width: 0;
  }
  .ct-sm-minor-sixth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-minor-sixth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-golden-section {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-golden-section:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 61.804697157%;
    width: 0;
  }
  .ct-sm-golden-section:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-golden-section > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-major-sixth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-major-sixth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 60%;
    width: 0;
  }
  .ct-sm-major-sixth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-major-sixth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-minor-seventh {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-minor-seventh:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 56.25%;
    width: 0;
  }
  .ct-sm-minor-seventh:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-minor-seventh > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-major-seventh {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-major-seventh:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 53.3333333333%;
    width: 0;
  }
  .ct-sm-major-seventh:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-major-seventh > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-octave {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-octave:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 50%;
    width: 0;
  }
  .ct-sm-octave:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-octave > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-major-tenth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-major-tenth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 40%;
    width: 0;
  }
  .ct-sm-major-tenth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-major-tenth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-major-eleventh {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-major-eleventh:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 37.5%;
    width: 0;
  }
  .ct-sm-major-eleventh:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-major-eleventh > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-major-twelfth {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-major-twelfth:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 33.3333333333%;
    width: 0;
  }
  .ct-sm-major-twelfth:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-major-twelfth > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

@media (max-width: 540px) {
  .ct-sm-double-octave {
    display: block;
    position: relative;
    width: 100%;
  }
  .ct-sm-double-octave:before {
    content: "";
    display: block;
    float: left;
    height: 0;
    padding-bottom: 25%;
    width: 0;
  }
  .ct-sm-double-octave:after {
    clear: both;
    content: "";
    display: table;
  }
  .ct-sm-double-octave > svg {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
  }
}

body {
  padding-top: 70px;
}

.navbar-default {
  background: #333;
  border: none;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-title {
  color: #fff;
  text-align: center;
}

/*# sourceMappingURL=app.css.map */
