body {
    padding-top: 70px;
}

.chart {
    background: red;
}

.navbar-default {
    background: #333;
    border: none;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-brand:hover {
    color: #fff;
}

.navbar-title {
    color: #fff;
    text-align: center;
}